@charset "UTF-8";
/* CSS Document */

.error {
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-radius: 2px;
	border-color: #FF0000;
}



#form-container {
	width:350px;
	margin-left: 10px;
}

.main {
	background-color: #A0D0F0;
}